.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ABCA;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    transition: .2s;
}

.toggle{
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 13%;
    justify-content: space-between;
}

#react-icon{
    width: 60px;
    height: auto;
}